/* Stili di pagina GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Whitney', Arial, Helvetica, sans-serif;
}

/* Stili PRINCIPALI Header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* Debug roles */
    background-color: #add8e6;
    min-height: 70px;
}
.contenitore_header{
    display: flex;
    min-width: 70%;
    align-items: center;
    border-style: dashed;
    /* Debug roles */
    background-color: #daa520;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Stili SECONDARI header*/
.logo{
    flex-basis: 20%;
    border-right-style: dashed;
    padding: 1%;
}
.links{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-style: dashed;
}
.links a{
    padding: 1%;
}
.login{
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
    padding: 1%;
}
a{
    text-decoration: none;
}

/* Stili PRIMA sezione sotto header */
.contenitore_first_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 5px #add8e6;
    /* Debug roles*/
    background-color: #00008b;
    min-height: 450px;
}
.first_section{
    flex-basis: 50%;
    border-style: dashed;
    /* Debug roles */
    min-height: 400px;
    background-color: #ee82ee;
}

/* Stili SECONDA TERZA e QUARTA sezione */
.grigio{
    background-color: #d3d3d3;
}
.contenitore.grigio>.section_txt{
    order: -1;
}
.contenitore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Debug roles*/
    min-height: 450px;
}
.section_img{
    display: flex;
    flex-basis: 35%;
    background-color: #1e90ff;
    border-style: dashed;
    min-height: 400px;
}
.section_txt{
    flex-basis: 25%;
    background-color: #ffc0cb;
    border-style: dashed;
    min-height: 400px;
}

/* Stili QUINTA sezione */
.contenitore_fifth_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Debug roles*/
    min-height: 800px;
}
.fifth_section{
    flex-basis: 60%;
    border-style: dashed;
    /* Debug roles */
    min-height: 750px;
    background-color: #228b22;
}

/* Side prima del footer contenente le adeguate sezioni */
aside{
    display: flex;
    width: 100%;
    background-color: #23272a;
}
.contenitore_side{
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.red-col{
    display: flex;
    flex-basis: 16%;
    background-color: #f08080;
    border-style: dashed;
    min-height: 430px;
}
.col{
    flex-basis: 11%;
    background-color: #20b2aa;
    min-height: 430px;
    border-color: #ffffff;
    border-style: dashed;
}

/* Fine pagina, contenente logo e bottone */
footer{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 90px;
}
.contenitore_foot{
    justify-content: space-between;
    display: flex;
    flex-basis: 60%;
    min-height: 65px;
    background-color: #7fffd4;
    align-items: center;
}
.logo_foot{
    background-color: #ffb6c1;
    border-style: dashed;
    padding: 0.5%;
}
.bottone_foot{
    background-color: #ffb6c1;
    border-style: dashed;
    padding: 0.5%;
}